<div
  id="team_profile"
  data-react-prop="<%= react_props({
    team:     {
      template: 'teams/show.json',
      locals: {
        team: @team,
      }
    },
    maxStats: MaxStats.all,
    fbOpenGraphNamespace: FACEBOOK_OPEN_GRAPH_NAMESPACE
  }) %>">
</div>
