
#character_results {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.character-result {
  width: 24%;
  margin-right: 1%;
  float: left;

  a {
    font-size: 2.0em;
    color: #ffffff;
    padding: 5px;
    position: absolute;
    right: -25px;
    top: -20px;
    width: 50px;
    text-shadow: 1px 1px 2px black;
    transition: color .5s;

    &:hover{
      text-decoration: none;
      color: darken(#ffffff, 10%);
    }
  }

  img {
    width: 100%;
  }

  table{
    width: 100%;
  }

  em {
    font-size: .9em;
  }

  p {
    font-size: .8em;
  }
}

@media screen and (max-width: 720px) and (min-width: 480px) {
  .character-result {
    width: 49%;

    table tr td {
      font-size: .8em;
    }
  }
}

@media screen and (max-width: 480px) {
  .character-result {
    width: 100%;
  }
}
