.character-result
  margin-top: 5px
  margin-bottom: 5px

.character
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  flex-direction: row

  h4
    margin-top: 0
    margin-bottom: 5px

  img
    margin-right: 10px
    min-width: 58px

  button
    float: right

.character-details
  -webkit-flex: 1 1 auto
  flex: 1 1 auto
