
#character_results {
  margin-left: 0.9375rem;
  margin-right: 0.9375rem;
}

.character-result {
  width: 24%;
  margin-right: 1%;
  float: left;

  a {
    position: absolute;
    right: -5px;
    top: -5px;
  }

  img {
    width: 100%;
  }

  table{
    width: 100%;
  }
}

@media screen and (max-width: 720px) and (min-width: 480px) {
  .character-result {
    width: 49%;

    table tr td {
      font-size: .8em;
    }
  }
}

@media screen and (max-width: 480px) {
  .character-result {
    width: 100%;
  }
}
