.character-search-field
  div
    padding-left: 8px

#new_team
  margin-bottom: 5px
  margin-top: 5px

#team_characters
  padding: 10px
  display: -webkit-flex
  display: flex
  -webkit-flex-direction: row
  flex-direction: row

  > div
    -webkit-flex: 1 1 auto
    flex: 1 1 auto
    text-align: center

    .remove-character
      display: none

    &:hover
      .remove-character
        display: block

.character-avatar
  display: inline-block
  position: relative

.remove-character
  opacity: 0.7
  font-size: 39px
  position: absolute
  left: 0
  top: 0
  line-height: 0
