#notifications
  top: 0
  left: 0
  float: left
  width: 100%
  overflow: hidden
  height: 50px
  position: fixed
  z-index: 1
  display: none

#notifications.visible
  display: block

#notifications-top-center
  position: relative
  left: 0px
  top: 0px
  width: 100%
  background-color: rgba(255,255,255,0.9)
  height: 50px
  text-align: center
  line-height: 50px
  color: #404040
  font-size: 18px
  font-weight: 600

#notifications-top-center-close
  background-color: rgba(255,0,0,0.6)
  float: right
  height: 50px
  width: 50px
  font-size: 30px
  color: rgba(255,255,255,1)
  font-weight: 400
  -webkit-transition: all 0.5s
  -moz-transition: all 0.5s
  -o-transition: all 0.5s
  transition: all 0.5s

#notifications-top-center-close:hover
  cursor: pointer
  background-color: rgba(255,0,0,1)

#notifications-full
  -moz-box-shadow: 0px 0px 50px rgba(0,0,0,0.1)
  -webkit-box-shadow: 0px 0px 50px rgba(0,0,0,0.1)
  box-shadow: 0px 0px 50px rgba(0,0,0,0.1)
  height: 300px
  width: 530px
  background-color: rgba(255,255,255,1)
  position: fixed
  margin-top: 10%
  margin-left: -265px
  z-index: 2
  left: 50%
  top: 10%

#notifications-full-close
  height: 20px
  width: 20px
  position: absolute
  top: 10px
  right: 10px
  color: #cccccc
  font-size: 20px
  line-height: 20px
  text-align: center
  -webkit-transition: all 0.5s
  -moz-transition: all 0.5s
  -o-transition: all 0.5s
  transition: all 0.5s

#notifications-full-close:hover
  color: rgba(102,102,102,1)
  cursor: pointer

#notifications-full-icon
  float: left
  width: 100%
  font-size: 65px
  text-align: center
  height: 65px
  margin-top: 35px
  color: #404040

#notifications-full-text
  width: 430px
  float: left
  margin-left: 50px
  text-align: center
  margin-top: 40px
  font-size: 16px
  line-height: 24px
  color: #404040
