.ranking-team
  float: left
  margin-bottom: 10px
  width: 100%

.ranking-list-item
  float: left
  width: 100%
  padding-bottom: 10px

.leader-icon
  float: left
  margin-right: 10px

.team-details
  float: left

.team-name
  margin-bottom: 10px

.team-characters
  margin-top: 10px
